body {
    background-color:#363333;
    /* background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover; */
}
table {
    border: 3px solid #ddd;
    padding: 5px;
    margin: auto;
    margin-top: 10%;
    text-align: center;
    font-size: x-large;
    /* border-collapse: separate; */
}
tr {
    border: 3px solid #ddd;
    padding: 5px;
    color: #ddd;
}
th {
    border: 3px solid #ddd;
    padding: 5px;
}
td {
    border: 3px solid #ddd;
    padding: 5px;
}
header{
    margin: 20px;
    text-align: center;
}
a{
    text-decoration: none;
    font-size: xx-large;
    color: #ddd;
}
